@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');

#imgReceta{
    border-radius: 5%;
    border: 5px solid violet;
    height: 17vw;
}

p{
    text-align: center;
    font-size: clamp(8px, 1.2vw, 25px);

}

body{
    display: block;
    background-image: url("https://img.freepik.com/vector-gratis/elegante-patron-floral-transparente-decoracion-flores-suaves_44538-3199.jpg?semt=ais_hybrid");
    justify-items: center;
}

#ingredients-container{
    display: flex;
    flex-direction: column;
}

#steps-container{
    display: flex;
    flex-direction: column;
}
#div-principal{
    display: flex;
    flex-direction: column;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    width: clamp(42vw, 43vw, 70vw);
    background-color: thistle;
    align-items: center;
}

h1{
    text-align: center;
    font-size: clamp(11px, 2vw, 25px);
}
h2{
    text-align: center;
    font-size: clamp(10px, 1.5vw, 25px);
}

li{
    font-size: clamp(8px, 1vw, 25px);

}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
}

#logo{
    height: 15vw;
}

#logo-container{
    height: 12vw;
}

#nav-list{
    list-style:inside;
    display: flex;
    padding: 0;
}

#nav-list li{
    font-weight: bold;
    margin: 0 2vw;
    font-size:clamp(7px, 1.2vw, 25px);
}

a{
    text-decoration: none;
    color: violet;
    font-weight: bold;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,  
    -1px 1px 0 black,  
    1px 1px 0 black;
    font-size:clamp(5px, 1vw, 25px)

    ;
}

ol{
    display: flex;
    flex-direction: column;
} 